.body{
  margin: 0;
  padding: 0;
}
.button{
  width: 50;
  height: 50;
  font-size: 25;
  margin: 2;
  cursor: pointer;
  background-color: #607d8b;
  border: none;
  color: white;
}
.textView{
  width: 224;
  height: 60;
  margin: 5;
  font-size: 25;
  padding: 5;
  color: #607d8b;
}
.main{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.bg{
  background: linear-gradient(#fff,#00d3f8);
  height: 100%;
}